<p id="notice"><%= notice %></p>

<h1>Movie's List</h1>

<table>
  <tbody>
    <% @lists.each do |list| %>
      <tr>
        <td><%= list.name %></td>
        <td><%= link_to 'Show', list %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create a new List', new_list_path %>
